{% extends "main.html" %}
{% load static %}
{% block Tabel %}
    <h2>احجام اجرایی پروژه</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">شماره</th>
            <th scope="col">گروه احجام اجرایی </th>
            <th scope="col">بخش </th>
            <th scope="col">نوع عملیات</th>
            <th scope="col">واحد</th>
            <th scope="col">مقادیر(ریال)</th>
        </tr>
        </thead>
        <tbody>
        {% for performance in Performance %}
        <tr>
            <th scope="row">{{ performance.id }}</th>
            <td>{{ performance.group }}</td>
            <td>{{ performance.part }}</td>
            <td>{{ performance.typeـoperation }}</td>
            <td>{{ performance.unit }}</td>
            <td>{{ pperformance.amounts }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block Paginat %}
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
{% endblock %}
{% block Forms %}
    <h2>فرم احجام اجرایی پروژه</h2>
    <form action="{% url 'implementation:Performance_Forms' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">بخش </label>
                <input type="text" class="form-control" name="part" placeholder="بخش "
                       blank=false>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">گروه احجام اجرایی</label>
                <input type="text" class="form-control" name="group" placeholder="گروه احجام اجرای">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">واحد</label>
                <input type="text" class="form-control" name="unit" placeholder="واحد"
                       blank=false>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4"> نوع عملیات </label>
                <input type="text" class="form-control" name="typeـoperation" placeholder="نوع عملیات">
            </div>
        </div>
        <div class="form-group ">
            <label for="inputAddress">مقادیر به ریال</label>
            <input type="text" class="form-control" name="amounts" placeholder="مقادیر به ریال">
        </div>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
{% endblock %}