{% extends "main.html" %}
{% load static %}
{% block Tabel %}
    <h2>فرم هزینه عملیات اجرایی</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">شماره</th>
            <th scope="col">شماره فصل</th>
            <th scope="col">شماره آيتم</th>
            <th scope="col">شرح</th>
            <th scope="col">واحد</th>
            <th scope="col">بهاي واحد (ریال)</th>
        </tr>
        </thead>
        <tbody>
        {% for priceList in PriceList %}
        <tr>
            <th scope="row">{{ priceList.id }}</th>
            <td>{{ priceList.chapter_number }}</td>
            <td>{{ priceList.item_number }}</td>
            <td>{{ priceList.description }}</td>
            <td>{{ priceList.unit }}</td>
            <td>{{ priceList.amounts }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block Forms %}
    <h2>فرم فهرست بها</h2>
    <form action="{% url 'implementation:PriceList_Form' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">شماره فصل</label>
                <input type="text" class="form-control" name="chapter_number" placeholder="شماره فصل">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">شماره آيتم</label>
                <input type="text" class="form-control" name="item_number" placeholder="شماره آيتم">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">واحد</label>
                <input type="text" class="form-control" name="unit" placeholder="واحد">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">بهاي واحد به ریال</label>
                <input type="text" class="form-control" name="amounts" placeholder="بهاي واحد به ریال">
            </div>
        </div>
        <div class="form-group ">
            <label for="inputAddress">شرح</label>
            <input type="text" class="form-control" name="description" placeholder="شرح">
        </div>
        <button type="submit" class="btn btn-primary">ثبت فهرست بها</button>
    </form>
{% endblock %}