{% extends "main.html" %}
{% load static %}

{% block Forms %}
    <h2>اطلاعات ورودی تخصیص منابع</h2>
    <form action="{% url 'implementation:ResourceAllocation_Form' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">مقادیر کار انجام شده توسط پیمانکاران</label>
                <input type="text" class="form-control" name="uint" placeholder="مقادیر کار انجام شده  توسط پیمانکاران">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">هزینه عملیات اجرایی</label>
                <select class="form-control" name="performance">
                    {% for performance in form.performance %}
                        <option>{{ performance }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4"> تعداد روزهای فعال شیفت روز </label>
                <input type="text" class="form-control" name="active_day_shift"
                       placeholder="تعداد روزهای فعال شیفت روز">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">تعداد روزهای فعال شیفت شب</label>
                <input type="text" class="form-control" name="active_night_shift"
                       placeholder="تعداد روزهای فعال شیفت شب">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">تعداد شیفت کاری</label>
                <input type="text" class="form-control" name="number_work_shifts" placeholder="تعداد شیفت کاری">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">ساعت کاری شیفت روز</label>
                <input type="text" class="form-control" name="day_shift_hours" placeholder="ساعت کاری شیفت روز">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">ساعت کاری شیفت شب</label>
                <input type="text" class="form-control" name="night_shift_hours " placeholder="ساعت کاری شیفت شب">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">تعداد شیفت فعال</label>
                <input type="text" class="form-control" name="number_active_shifts" placeholder="تعداد شیفت فعال">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">فاصله حمل</label>
                <input type="text" class="form-control" name="carrying_distance" placeholder="فاصله حمل">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">تعداد سرویس در ساعت</label>
                <input type="text" class="form-control" name="number_services_hour " placeholder="تعداد سرویس در ساعت">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">نرم ساعتی اجرا شده توسط ماشین آلات سازمانی</label>
                <input type="text" class="form-control" name="hours_normal_implement_enterprise_machines "
                       placeholder="نرم ساعتی اجرا شده توسط ماشین آلات سازمانی">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">بهاي واحد (ریال)</label>
                <input type="text" class="form-control" name="amounts" placeholder="بهاي واحد (ریال)">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">درصد ماشین</label>
                <input type="text" class="form-control" name="percents_machinery " placeholder="تعداد سرویس در ساعت">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">ماشین</label>
                <select class="form-control" name="machinery">
                    {% for machinery in form.machinery %}
                        <option>{{ machinery }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">درصد نرم نیروی انسانی</label>
                <input type="text" class="form-control" name="percents_employee " placeholder="درصد نرم نیروی انسانی">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">نیروی انسانی</label>
                <select class="form-control" name="employee">
                    {% for employee in form.employee %}
                        <option>{{ employee }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">درصد نرم مصالح</label>
                <input type="text" class="form-control" name="percents_material"
                       placeholder="درصد نرم مصالح">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">نرم مصالح</label>
                <select class="form-control" name="material">
                    {% for material in form.material %}
                        <option>{{ material }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label for="inputAddress">بهای‌واحد عملیات اجرای ریال</label>
            <input type="text" class="form-control" name="amounts" placeholder="بهای‌واحد عملیات اجرای ریال">
        </div>
        <button type="submit" class="btn btn-primary">ثبت هزینه عملیات اجرایی</button>
    </form>
{% endblock %}